* {
  box-sizing: border-box;
}

body {
  display: grid;
  /* grid-template-columns: repeat(3, 1fr); */
  /* grid-template-columns: repeat(4, 1fr); */
  /* grid-template: 'header header header'
                 'aside main main'
                 'aside article article'
                 'canvas canvas canvas'
                 'footer footer footer'; */
  grid-template: 'header header header'
                 'main main main'
                 'article article article'
                 'canvas canvas canvas'
                 'footer footer footer';
}

header {
  grid-area: header;
  border: 5px solid blue;
}
aside {
  border: 5px solid blue;
  grid-area: aside;
  width: 300px;
}

footer {
  border: 5px solid blue;
  grid-area: footer;
}
#productContainer {
  grid-area: main;
  border: 5px solid blue;
  display: flex;
  justify-content: space-around;

}

#productContainer img{
  height: 300px;
  width: 350px;
}

article {
  grid-area: article;
  border: 5px solid blue;
}

/* -- button -- */
aside > div {
  background-color: grey;
  padding: .5rem 1rem;
  width: max-content;
  height: max-content;

  pointer-events: none;
}

aside > div.clicks-allowed {
  pointer-events: auto;
  cursor: pointer;
  background-color: blue;
}

aside > div.clicks-allowed:hover {
  background-color: lightblue;
}


article + div {
  grid-area: canvas;
  /* background-color: red; */
}

canvas {
}